body{
    display: flex;
    background-color: hsl(30, 54%, 90%);
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    main{
        display: flex;
        background-color:hsl(0, 0%, 100%);
        max-width: 500px;
       margin: 5% 0;
        flex-flow: column wrap;
        padding: 30px;
        border-radius: 20px;
        .simple-omelette{
            img{
                max-height: fit-content;
                max-width: 100%;
                border-radius: 20px;
            }
            h1{
                font-family: Young Serif, arial ;
                font-weight: 300;
                
            }
            p{
                font-size: 12px;
                font-family: outfit, arial;
                font-weight: 400;
            }
        }
        .preparation-time{
            background-color: hsl(330, 100%, 98%);
            border-radius: 10px;
            padding: 5px;
            h2{
                font-family: Outfit;
                font-weight: 700;
                color:hsl(332, 51%, 32%);
                font-size: 16px;
                margin-left: 4%;
            }
            ul{
                
                li{
                    font-family: outfit;
                    font-size: 12px;
                    margin: 15px 0;
                }
            }
        }
        .ingredients{
            h2{
                font-family: Young Serif, Arial;
                color: hsl(14, 45%, 36%);
                font-weight: 300;
            }
            ul{
                li{
                    font-family: Outfit;
                    margin: 15px 0;
                    font-size: 12px;
                }
            }
        }
        .barra{
            max-width: 100%;
            height: 1px;
            background-color: hsl(30, 18%, 87%) ;
            margin: 10px 0;
        }
        .instructions{
            h2{
                font-family: Young Serif, Arial;
                color: hsl(14, 45%, 36%);
                font-weight: 300;
            } 
           ol{
            
            li{
                font-family: outfit;
                font-size: 12px;
                margin: 15px 0;
                b{
                    color: hsl(14, 45%, 36%);  
                }
            }
           }
        }
    }
    .nutrition{
        h2{
            font-family: Young Serif, Arial;
            color: hsl(14, 45%, 36%);
            font-weight: 300;
        } 
        p{
            font-size: 12px;
            font-family: outfit, arial;
            font-weight: 400;   
        }
        .barra2{
            max-width: 100%;
            height: 1px;
            background-color: hsl(30, 18%, 87%) ;
    }
    .list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
       
        .second{
            color: hsl(14, 45%, 36%);
            font-weight: 700;
            
        }
    }

    }
}